In [89]:
##LOAD PACKAGES

import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import skew
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [54]:
## LOAD DATABASE AND SHOW COLUMNS FOR COLUMNS SELECTION
df = pd.read_csv("listings_cleaned.csv")
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'n_bathrooms', 'shared_private'],
      dtype='object')

In [56]:
## SHOW CORRELATION WITH PRICE
corr = train.corr()
corr["price"].sort_values(ascending=False).head(10)

price               1.000000
accommodates        0.486075
bedrooms            0.472197
beds                0.435872
n_bathrooms         0.432355
availability_30     0.165862
availability_60     0.139830
availability_90     0.116769
availability_365    0.057417
host_id             0.054592
Name: price, dtype: float64

In [57]:
## DROP UNWANTED COLUNS, THE VARIABLE TO KEEP HAVE TO BE PRESENT IN LIST "variable_keep"

variables = ['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'n_bathrooms', 'shared_private']
variable_keep = ['host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost','host_has_profile_pic', 'host_identity_verified',
                 'neighbourhood_cleansed','property_type', 'room_type', 'accommodates',
                  'bedrooms', 'beds',  'price','number_of_reviews','n_bathrooms', 'shared_private'
                                ]
for i in variable_keep:
    print(str(i))
    variables.remove(i)

df = df.drop(variables, axis=1)

host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_has_profile_pic
host_identity_verified
neighbourhood_cleansed
property_type
room_type
accommodates
bedrooms
beds
price
number_of_reviews
n_bathrooms
shared_private

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3560 entries, 0 to 3559
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   host_response_time      3056 non-null   object
 1   host_response_rate      3056 non-null   object
 2   host_acceptance_rate    3203 non-null   object
 3   host_is_superhost       3560 non-null   object
 4   host_has_profile_pic    3560 non-null   object
 5   host_identity_verified  3560 non-null   object
 6   neighbourhood_cleansed  3560 non-null   object
 7   property_type           3560 non-null   object
 8   room_type               3560 non-null   object
 9   accommodates            3560 non-null   int64
 10  bedrooms                3560 non-null   float64
 11  beds                    3560 non-null   float64
 12  price                   3560 non-null   float64
 13  number_of_reviews       3560 non-null   int64
 14  n_bathrooms             3560 non-null   float64
 15  shared_private          3560 non-null   object
dtypes: float64(4), int64(2), object(10)
memory usage: 445.1+ KB

In [60]:
##DROPNA VALUES FOR HOST RESPONSE TIME AND HOST ACCEPTANCE RATE, THIS CAN BE FILLED
df = df.dropna(axis = 0, subset = ['host_response_time'])
df = df.dropna(axis = 0, subset = ['host_acceptance_rate'])

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3013 entries, 0 to 3559
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   host_response_time      3013 non-null   object
 1   host_response_rate      3013 non-null   object
 2   host_acceptance_rate    3013 non-null   object
 3   host_is_superhost       3013 non-null   object
 4   host_has_profile_pic    3013 non-null   object
 5   host_identity_verified  3013 non-null   object
 6   neighbourhood_cleansed  3013 non-null   object
 7   property_type           3013 non-null   object
 8   room_type               3013 non-null   object
 9   accommodates            3013 non-null   int64
 10  bedrooms                3013 non-null   float64
 11  beds                    3013 non-null   float64
 12  price                   3013 non-null   float64
 13  number_of_reviews       3013 non-null   int64
 14  n_bathrooms             3013 non-null   float64
 15  shared_private          3013 non-null   object
dtypes: float64(4), int64(2), object(10)
memory usage: 400.2+ KB

In [62]:
print('UNIQUE VALUES\n')
for col in df.columns:
    print(f'{col}: {len(df[col].unique())}\n')

UNIQUE VALUES

host_response_time: 4

host_response_rate: 41

host_acceptance_rate: 76

host_is_superhost: 2

host_has_profile_pic: 2

host_identity_verified: 2

neighbourhood_cleansed: 77

property_type: 38

room_type: 4

accommodates: 16

bedrooms: 10

beds: 17

price: 479

number_of_reviews: 352

n_bathrooms: 14

shared_private: 2

In [64]:
#Converting categorical data to numerical
df = pd.get_dummies(df)
df.head()

,accommodates,bedrooms,beds,price,number_of_reviews,n_bathrooms,host_response_time_a few days or more,host_response_time_within a day,host_response_time_within a few hours,host_response_time_within an hour,...,property_type_Shared room in rental unit,property_type_Shared room in residential home,property_type_Shipping container,property_type_Tiny house,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room,shared_private_private,shared_private_shared
0,2,1.0,0.0,99.0,85,1.0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
1,3,2.0,2.0,135.0,159,1.0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
3,3,1.0,1.0,55.0,624,1.0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
4,2,1.0,1.0,52.0,156,1.0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
5,2,1.0,2.0,33.0,255,1.0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0

In [91]:
## MODEL RUN AND EVALUATE USING: default=”squared_error”
## INFO ABOUT MODEL : https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html
## SPLIT 80 - 20
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2)
y_train = train["price"]
y_test = test["price"]
train = train.drop("price", axis = 1)
test = test.drop("price", axis = 1)

#Printing thier shapes
print(train.shape, test.shape)
print(y_train.shape, y_test.shape)

x_train, x_test, y_train, y_test = train_test_split(train, y_train, test_size=0.2, random_state=42)

clf = RandomForestRegressor(n_estimators=1000, verbose = 0)
clf.fit(x_train, y_train)
print("Score in train: ")
print(clf.score(x_train,y_train))
print("Score in test: ")
print(clf.score(x_test,y_test))

(2410, 253) (603, 253)
(2410,) (603,)
Score in train:
0.9269570407925753
Score in test:
0.5366491120928495

In [90]:
#Making an prediction
#prediction = clf.predict(test)
#print(prediction)