In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import csv

In [32]:
# pd.set_option('display.max_rows', 100)
# pd.set_option('max_colwidth', 500)
# pd.set_option('display.max_columns', 500)

reviews = pd.read_csv('reviews.csv')
# reviews.head()
df_host = pd.read_csv('listings_cleaned.csv')
# df_host.head(10)

In [46]:
host_filtered = df_host.drop(df_host.iloc[:, 11:59], axis = 1)
host_filtered.head()
# reviews.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,n_bathrooms,shared_private
0,177,https://www.airbnb.com/rooms/177,20210722142814,2021-07-23,Tiny Home in the Heart of the City- ECO FRIENDLY,"160 sq ft + 80 sq ft loft for sleeping, Sleeps...","Quiet neighborhood next to park, creeks and bi...",https://a0.muscache.com/pictures/a1745ab2-b3a0...,615,https://www.airbnb.com/users/show/615,...,4.76,2016-BFN-0004968,f,2,2,0,0,1.49,1.0,private
1,360,https://www.airbnb.com/rooms/360,20210722142814,2021-07-23,Sit in the Peaceful Garden of the Chickadee Co...,Enjoy the famous Colorado weather and unplug i...,The cottage is located in the center of Lower ...,https://a0.muscache.com/pictures/monet/Select-...,666,https://www.airbnb.com/users/show/666,...,4.91,2017-BFN-0002177,f,2,2,0,0,8.98,1.0,private
2,364,https://www.airbnb.com/rooms/364,20210722142814,2021-07-23,Lodo / RiNo LOFT via airport train,"Modern 1,000 square foot loft in the heart of ...","Ten brewpubs within walking distance, two grea...",https://a0.muscache.com/pictures/11766413/a2c5...,783,https://www.airbnb.com/users/show/783,...,4.71,NaN,f,1,1,0,0,0.70,1.5,private
3,590,https://www.airbnb.com/rooms/590,20210722142814,2021-07-23,Comfortable - and a great value!,"Large guest room in my home, where I also live...",I love the diversity of my neighborhood and it...,https://a0.muscache.com/pictures/110931/30991c...,933,https://www.airbnb.com/users/show/933,...,4.84,2021-BFN-0000578,f,2,0,2,0,7.26,1.0,shared
4,592,https://www.airbnb.com/rooms/592,20210722142814,2021-07-23,private,This room is in the basement. It does not hav...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,933,https://www.airbnb.com/users/show/933,...,4.85,2021-BFN-0000578,f,2,0,2,0,1.14,1.0,shared

In [53]:
# host_filtered.drop(['scrape_id', 'last_scraped', 'name', 'description', 'neighborhood_overview', 'picture_url', 'host_id', 'host_url', 'last_review'], axis = 1, inplace = True)
host_filtered.drop(host_filtered.iloc[:, 10:], axis = 1, inplace = True)
host_filtered.head()

,id,listing_url,host_name,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,177,https://www.airbnb.com/rooms/177,Joe,4.80,4.96,4.86,4.96,4.93,4.83,4.76
1,360,https://www.airbnb.com/rooms/360,Jennifer & Giovanni,4.99,4.99,4.96,5.00,5.00,5.00,4.91
2,364,https://www.airbnb.com/rooms/364,Jason,4.85,4.78,4.81,4.95,4.96,4.65,4.71
3,590,https://www.airbnb.com/rooms/590,Jill,4.84,4.76,4.56,4.92,4.95,4.74,4.84
4,592,https://www.airbnb.com/rooms/592,Jill,4.85,4.75,4.55,4.94,4.94,4.80,4.85

In [49]:
#renaming columns for merge on ID/listng ID
reviews.drop(['reviewer_id', 'id'], axis = 1, inplace = True)
reviews.rename(columns = {'listing_id': 'id'}, inplace = True)
reviews.head()

,id,date,reviewer_name,comments
0,177,2016-09-04,Brenna,"Great place to stay! Definitely a tiny home, b..."
1,177,2016-09-13,Rachael,Joe was very friendly and gave us all the info...
2,177,2016-09-14,Haley,Amazing property and Joe was a great host! Eve...
3,177,2016-09-19,Mike,"Joe was a great host, the description of this ..."
4,177,2016-09-22,Carol,He welcomes us when we first arrived and gave ...

In [8]:
df_stars = host_filtered.drop(df_host.iloc[:, 1:2], axis = 1)
df_stars.head(10)

,id,host_name,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,177,Joe,4.80,4.96,4.86,4.96,4.93,4.83,4.76
1,360,Jennifer & Giovanni,4.99,4.99,4.96,5.00,5.00,5.00,4.91
2,364,Jason,4.85,4.78,4.81,4.95,4.96,4.65,4.71
3,590,Jill,4.84,4.76,4.56,4.92,4.95,4.74,4.84
4,592,Jill,4.85,4.75,4.55,4.94,4.94,4.80,4.85
5,686,Alexandra,4.77,4.77,4.81,4.86,4.92,4.87,4.83
6,1940,Joanne,4.93,4.93,4.93,5.00,4.97,4.92,4.88
7,31503,Rick,4.89,4.89,5.00,4.93,4.99,4.86,4.89
8,39405,Jennifer & Giovanni,4.91,4.88,4.93,4.98,4.97,4.84,4.85
9,74125,Joe,4.73,4.80,4.30,4.91,4.97,4.86,4.71

In [54]:
#plot score rating by loc
#if host has multiple listings, take average

#appending price col to host_filtered
price = df_host['price']

host_filtered = host_filtered.join(price)
host_filtered.head()

,id,listing_url,host_name,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price
0,177,https://www.airbnb.com/rooms/177,Joe,4.80,4.96,4.86,4.96,4.93,4.83,4.76,99.0
1,360,https://www.airbnb.com/rooms/360,Jennifer & Giovanni,4.99,4.99,4.96,5.00,5.00,5.00,4.91,135.0
2,364,https://www.airbnb.com/rooms/364,Jason,4.85,4.78,4.81,4.95,4.96,4.65,4.71,179.0
3,590,https://www.airbnb.com/rooms/590,Jill,4.84,4.76,4.56,4.92,4.95,4.74,4.84,55.0
4,592,https://www.airbnb.com/rooms/592,Jill,4.85,4.75,4.55,4.94,4.94,4.80,4.85,52.0

In [56]:
df_merged = pd.merge(reviews, host_filtered, on = 'id')
#Removing review scores for this df
df_merged.drop(df_merged.iloc[:, 6:12], axis = 1, inplace = True)
df_merged.head()

,id,date,reviewer_name,comments,listing_url,host_name,review_scores_value,price
0,177,2016-09-04,Brenna,"Great place to stay! Definitely a tiny home, b...",https://www.airbnb.com/rooms/177,Joe,4.76,99.0
1,177,2016-09-13,Rachael,Joe was very friendly and gave us all the info...,https://www.airbnb.com/rooms/177,Joe,4.76,99.0
2,177,2016-09-14,Haley,Amazing property and Joe was a great host! Eve...,https://www.airbnb.com/rooms/177,Joe,4.76,99.0
3,177,2016-09-19,Mike,"Joe was a great host, the description of this ...",https://www.airbnb.com/rooms/177,Joe,4.76,99.0
4,177,2016-09-22,Carol,He welcomes us when we first arrived and gave ...,https://www.airbnb.com/rooms/177,Joe,4.76,99.0

In [57]:
#Check missing values
df_merged['comments'].isnull().sum()

134

In [58]:
import itertools
import collections

#convert text to lowercase
def convert(lst): 
    return ([i for item in lst for i in item.lower().split()]) 

filtered_comments = convert(df_merged['comments'].fillna("")) #Fill in missing reviews with blank

In [59]:
count_word = collections.Counter(filtered_comments) #Count word frequency

clean_word_count = pd.DataFrame(count_word.most_common(5),
                             columns=['words', 'count'])

clean_word_count.head()

  words   count
0   and  427974
1   the  368712
2    to  267911
3     a  256889
4   was  231467

In [72]:
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import nltk
nltk.download(['punkt', 'wordnet', 'stopwords'])
from nltk.tokenize import word_tokenize, sent_tokenize
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from nltk.corpus import stopwords

[nltk_data] Downloading package punkt to /Users/yobae/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/yobae/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/yobae/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [73]:
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
#Removing stopwords
#Stemming and lemmatization (removes prefixes, suffixes, and infixes)
def tokenize(text):
    tokens = word_tokenize(text)
    stop_words = set(stopwords.words('english')) 
    lemmatizer = WordNetLemmatizer()
    tokens = [w for w in tokens if not w in stop_words]
    tokens = [lemmatizer.lemmatize(w.lower().strip()) for w in tokens]
    return tokens

In [74]:
pipeline = Pipeline([
    ('vect', CountVectorizer(tokenizer=tokenize)),
    ('tfidf', TfidfTransformer()),
    ('clf', RandomForestRegressor())
])

In [75]:
from sklearn.model_selection import train_test_split
df_merged.dropna(inplace=True)
X = df_merged['comments']
Y = df_merged['price']
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [76]:
pipeline.fit(X_train, y_train)

In [65]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import FeatureUnion


class ReviewSentiment(BaseEstimator, TransformerMixin):
    """Extract features from each document for DictVectorizer"""
    def fit(self, X, y=None):
        return self

    def transform(self, data):
        analyser = SentimentIntensityAnalyzer()
        polarity_list = [analyser.polarity_scores(comment) for _,comment in data.iteritems()]
        return pd.DataFrame(polarity_list)

pipeline_sent = Pipeline([
    ('polarity', ReviewSentiment()),
    ('clf', RandomForestRegressor())
])

pipeline_sent.fit(X_train, y_train)
    
y_preds = pipeline.predict(X_test)    

mean_absolute_error(y_test, y_preds)

KeyboardInterrupt: