In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import csv

In [28]:
# pd.set_option('display.max_rows', 100)
# pd.set_option('max_colwidth', 500)
# pd.set_option('display.max_columns', 500)

reviews = pd.read_csv('reviews.csv')
# reviews.head()
df_host = pd.read_csv('listings_cleaned.csv')
# df_host.head(10)

In [32]:
# df_host.drop(df_host.iloc[:, 11:59], axis = 1, inplace = True)
# df_host.drop(['scrape_id', 'last_scraped', 'name', 'description', 'neighborhood_overview', 'picture_url', 'host_id', 'host_url', 'last_review'], axis = 1, inplace = True)
# df_host.drop(df_host.iloc[:, 11:], axis = 1, inplace = True)
# df_host.drop(['license'], axis = 1, inplace = True)
df_host.head()
# reviews.head()

,id,listing_url,host_name,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,177,https://www.airbnb.com/rooms/177,Joe,4.80,4.96,4.86,4.96,4.93,4.83,4.76
1,360,https://www.airbnb.com/rooms/360,Jennifer & Giovanni,4.99,4.99,4.96,5.00,5.00,5.00,4.91
2,364,https://www.airbnb.com/rooms/364,Jason,4.85,4.78,4.81,4.95,4.96,4.65,4.71
3,590,https://www.airbnb.com/rooms/590,Jill,4.84,4.76,4.56,4.92,4.95,4.74,4.84
4,592,https://www.airbnb.com/rooms/592,Jill,4.85,4.75,4.55,4.94,4.94,4.80,4.85

In [37]:
#renaming columns for merge on ID/listng ID
# reviews.drop(['reviewer_id', 'id'], axis = 1, inplace = True)
reviews.rename(columns = {'listing_id': 'id'}, inplace = True)
reviews.head()

,id,date,reviewer_name,comments
0,177,2016-09-04,Brenna,"Great place to stay! Definitely a tiny home, but still cozy and comfortable. Pretty fun to try it out for a couple nights for the two of us. Joe was helpful and friendly. Destinations were always less than a 20min drive and lots of parks nearby! Super fun stay :)"
1,177,2016-09-13,Rachael,Joe was very friendly and gave us all the information we needed. The house was exactly as described on the site. It was fun and thought provoking experiencing a 100% Eco-friendly space. We plan on staying here again next time we're in Denver!
2,177,2016-09-14,Haley,Amazing property and Joe was a great host! Even offered to walk my dog while we were out! Will definitely be back
3,177,2016-09-19,Mike,"Joe was a great host, the description of this tiny house was spot on. It was definitely a small space but well laid out and very convenient. I would recommend a stay there."
4,177,2016-09-22,Carol,He welcomes us when we first arrived and gave great recommendations for dinner/breakfast

In [45]:
df_stars = df_host.drop(df_host.iloc[:, 1:2], axis = 1)
df_stars.head(10)

,id,host_name,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,177,Joe,4.80,4.96,4.86,4.96,4.93,4.83,4.76
1,360,Jennifer & Giovanni,4.99,4.99,4.96,5.00,5.00,5.00,4.91
2,364,Jason,4.85,4.78,4.81,4.95,4.96,4.65,4.71
3,590,Jill,4.84,4.76,4.56,4.92,4.95,4.74,4.84
4,592,Jill,4.85,4.75,4.55,4.94,4.94,4.80,4.85
5,686,Alexandra,4.77,4.77,4.81,4.86,4.92,4.87,4.83
6,1940,Joanne,4.93,4.93,4.93,5.00,4.97,4.92,4.88
7,31503,Rick,4.89,4.89,5.00,4.93,4.99,4.86,4.89
8,39405,Jennifer & Giovanni,4.91,4.88,4.93,4.98,4.97,4.84,4.85
9,74125,Joe,4.73,4.80,4.30,4.91,4.97,4.86,4.71

In [ ]:
#plot score rating by loc
#if host has multiple listings, take average

In [44]:
df_merged = pd.merge(reviews, df_host, on = 'id')
df_merged.drop(df_merged.iloc[:, 6:], axis = 1, inplace = True)
df_merged.head()

,id,date,reviewer_name,comments,listing_url,host_name
0,177,2016-09-04,Brenna,"Great place to stay! Definitely a tiny home, but still cozy and comfortable. Pretty fun to try it out for a couple nights for the two of us. Joe was helpful and friendly. Destinations were always less than a 20min drive and lots of parks nearby! Super fun stay :)",https://www.airbnb.com/rooms/177,Joe
1,177,2016-09-13,Rachael,Joe was very friendly and gave us all the information we needed. The house was exactly as described on the site. It was fun and thought provoking experiencing a 100% Eco-friendly space. We plan on staying here again next time we're in Denver!,https://www.airbnb.com/rooms/177,Joe
2,177,2016-09-14,Haley,Amazing property and Joe was a great host! Even offered to walk my dog while we were out! Will definitely be back,https://www.airbnb.com/rooms/177,Joe
3,177,2016-09-19,Mike,"Joe was a great host, the description of this tiny house was spot on. It was definitely a small space but well laid out and very convenient. I would recommend a stay there.",https://www.airbnb.com/rooms/177,Joe
4,177,2016-09-22,Carol,He welcomes us when we first arrived and gave great recommendations for dinner/breakfast,https://www.airbnb.com/rooms/177,Joe

In [47]:
#Check missing values
df_merged['comments'].isnull().sum()

134

In [50]:
import itertools
import collections

#convert text to lowercase
def convert(lst): 
    return ([i for item in lst for i in item.lower().split()]) 

filtered_comments = convert(df_merged['comments'].fillna("")) #Fill in missing reviews with blank

134

In [51]:
count_word = collections.Counter(filtered_comments) #Count word frequency

clean_word_count = pd.DataFrame(count_word.most_common(5),
                             columns=['words', 'count'])

clean_word_count.head()

  words   count
0   and  427974
1   the  368712
2    to  267911
3     a  256889
4   was  231467

In [52]:
import nltk
from nltk.corpus import stopwords

In [ ]:
#Removing stopwords